@font-face {
	font-family: 'Poppins';
	src:
		url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap')
	;
	font-weight: normal;
	font-style: normal;
}

html>body {
	font-family: 'Poppins', sans-serif;
}

html {
	width: 1300px;
	margin: 0 auto;

}

/* 라이브러리 */
.table-box-type-1>thead th, .table-box-type-1 th {
	border: 1px solid black;

	padding: 5px;
}

.table-box-type-2>thead th, .table-box-type-2 th {
	border: 1px solid black;
		margin-top: 100%;
	padding: 5px;
}

.title-text, .comment-count {
	display: inline-block;
}

.title-text:hover, .comment-count:hover {
	text-decoration: underline;
}

table {
	border: 2px solid black;
	border-collapse: collapse;
	width: 700px;
	background-color: pink;
	margin-left: auto;
	margin-right: auto;
}

body>div>div>ul>li>a {
	display: none;
}

body>div>.list:hover>ul>li>a {
	display: block;
}

th {
	border: 1px solid black;
	text-align: center;
	font-size: 17px;
	font-weight: light;
}

.btns {
	text-align: left;
	padding: 20px 500px;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.btn-text-link.active {
	color: white;
	background-color: #6c757d;
}